@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-R.ttf) format('ttf');
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-B.ttf) format('ttf');
}

/* SPECIFIC FACES */

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-L.ttf) format('ttf');
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-R.ttf) format('ttf');
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-M.ttf) format('ttf');
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-B.ttf) format('ttf');
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-H.ttf) format('ttf');
}

/* HARMONYOS SANS SC */

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-weight: 100;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/HarmonyOS_Sans_SC_Thin.ttf) format('ttf');
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-weight: 300;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/HarmonyOS_Sans_SC_Light.ttf) format('ttf');
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-weight: 400;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/HarmonyOS_Sans_SC_Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-weight: 500;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/HarmonyOS_Sans_SC_Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-weight: 700;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/HarmonyOS_Sans_SC_Bold.ttf) format('ttf');
}

@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-weight: 800;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/HarmonyOS_Sans_SC_Black.ttf) format('ttf');
}

/* NOTO SERIF SC */

@font-face {
    font-family: 'Noto Serif SC';
    font-weight: 200;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/NotoSerifSC-ExtraLight.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif SC';
    font-weight: 300;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/NotoSerifSC-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif SC';
    font-weight: 400;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/NotoSerifSC-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif SC';
    font-weight: 500;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/NotoSerifSC-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif SC';
    font-weight: 600;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/NotoSerifSC-SemiBold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif SC';
    font-weight: 700;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/NotoSerifSC-Bold.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Serif SC';
    font-weight: 900;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/NotoSerifSC-Black.otf) format('opentype');
}