@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-R.ttf) format('ttf');
    unicode-range: initial;
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-B.ttf) format('ttf');
    unicode-range: initial;
}

/* SPECIFIC FACES */

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-L.ttf) format('ttf');
    unicode-range: initial;
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-R.ttf) format('ttf');
    unicode-range: initial;
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-M.ttf) format('ttf');
    unicode-range: initial;
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-B.ttf) format('ttf');
    unicode-range: initial;
}

@font-face {
    font-family: 'OPPO Sans';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(https://blog.zminutes.com/resources/fonts/OPPOSans-H.ttf) format('ttf');
    unicode-range: initial;
}