body {
    margin: 0;
    background: #fff;
    font-family: 'HarmonyOS Sans SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#wantToChangeSource {
    position: fixed;
    max-width: 100%;
    bottom: 0;
    border-top: 2px solid rgb(255, 94, 94);
    border-radius: 8px 8px 0 0;
    background: rgb(46, 13, 13);
    padding: 12px;
    margin: 0px 10px;
    display: none;
}

div#wantToChangeSource button {
    display: block;
    padding: 8px 10px;
    margin: 2px 0px;
    font-weight: bold;
    background: rgb(187, 141, 141);
    color: #000;
    border: none;
    border-radius: 6px;
}

div#wantToChangeSource button:hover {
    background: rgb(255, 146, 146);
}

div#textInfos {
    background: #ffa500;
    color: #000;
    letter-spacing: 0.6px;
    font-weight: light;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

div#pageContentContainer {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 100px;
}

div#pageContentContainer div#pageContent {
    display: inline-block;
    /*width: 600px;*/
    text-align: initial;

    margin: 0px 20px;
    padding: 60px;
    background: #FFF;
    box-shadow: 0px 20px 60px 0px rgb(0 0 0 / 20%);
}

div#pageContentContainer div#pageContent img#loadingAnimation {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000;
    letter-spacing: 0.6px;
}

h1 {
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 1px solid #6f6f6f;
}

h3 {
    border-left: 6px solid rgb(255, 187, 0);
    padding-left: 10px;
    margin-top: 20px;
}

p {
    letter-spacing: 0.6px;
    line-height: 2.4em;
    font-weight: normal;
    color: #000;
}

code {
    padding: 6px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    border-radius: 4px;
    background: #D0E4F0;
    color: #002F5F;
}

pre code {
    padding: 16px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    background: #D0E4F0;
    color: #002F5F;
    border-radius: 8px;
    display: block;
    overflow-x: scroll;
}

a {
    text-decoration: none;
    color: rgb(230 155 12);
    border-bottom: 1px solid rgb(230, 155, 12);
    text-align: center;
}

blockquote {
    border-left: 4px solid #6f6f6f;
    margin-block: 0px;
    margin-inline: 0px;
    padding: 0.4em 0.4em 0.4em 1.4em;
    background: #F0F0F0;
}

strong {
    font-weight: bold;
}

::marker {
    color: rgba(0, 0, 0, 1);
}

li {
    margin: 1em;
    letter-spacing: 0.6px;
    line-height: 2.4em;
    font-weight: normal;
    color: #000;
}

table {
    border-spacing: 0px;
    color: #000;
}

thead {
    background: #ffffff2a;
}

td, th {
    border: 1px solid #4f4f4f;
    padding: 4px 6px;
}

tr {
    border: 1px solid #4f4f4f;
    padding: 4px;
}

hr {
    border-color: #7f7f7f;
}

img {
    max-width: 100%;
}

div#footer {
    background: #000;
    padding: 20px;
    color: #fff;
    margin-top: 4em;
}