body {
    margin: 120px 20% 20px 20%;
    background: #1f1f1f;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #cfcfcf;
    margin-bottom: 20px;
    padding-bottom: 8px;
    letter-spacing: 1px;
    border-bottom: 1px solid #6f6f6f;
}

h3 {
    border-left: 6px solid  rgb(255, 187, 0);
    padding-left: 6px;
    letter-spacing: 1px;
    margin-top: 20px;
    color: #fff;
}

p {
    letter-spacing: 1px;
    line-height: 2.4em;
    font-weight: lighter;
    color: #ffffff;
    background: #0000;
}

p :hover {
    background: #000f;
}

code {
    padding: 6px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    background: #3a3a3a;
    color: #ffffff;
    border-radius: 4px;
}

pre code {
    padding: 10px;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    background: #3a3a3a;
    color: #ffffff;
    border-radius: 4px;
    display: block;
}

a {
    text-decoration: none;
    color: rgb(255, 187, 0);
    border-bottom: 1px solid rgb(255, 187, 0);
    text-align: center;
}

blockquote {
    border-left: 4px solid #6f6f6f;
    margin-block: 0px;
    margin-inline: 0px;
    padding: 0.4em 0.4em 0.4em 1.4em;
    background: #2f2f2f;
}

strong {
    font-weight: 800;
}

div#footer {
    background: #000;
    padding: 20px;
    color: #fff;
}